/* Global styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
   background-color: #121212;
}
.home {
  color: white;
  font-family: Arial, sans-serif;
  text-align: center;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* Fullscreen Layout */
.video-container {
    position: relative;
    width: 100vw;
    height: 80vh;
    overflow: hidden;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Big Remote Video */
#remoteVideo {
    width: 900%;
    height: 80%;
    object-fit: cover; /* Fullscreen effect */
    border-radius: 0;
}

/* Small Local Video (PiP Style) */
#myVideo {
    position: absolute;
    bottom: 20px;
    right: 20px;
    width: 150px;
    height: 100px;
    object-fit: cover;
    border-radius: 10px;
    border: 3px solid white;
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.5);
}

